@using DD4T.Mvc.Html;
@model DD4T.ContentModel.Page

<h2>Home</h2>

Page title: @Model.Title<br />

Page id: @Model.Id<br />

Page version: @Model.Version<br />

View name: @Model.PageTemplate.MetadataFields["view"].Value<br />

Staging Url: @Model.MetadataFields["StagingUrl"].Value<br />

<div style="background-color:aqua">
@Html.RenderComponentPresentations()
</div>
